@font-face {
	font-family: 'test-font';
	src: url('/resources/fonts/Sixtyfour_Convergence/static/SixtyfourConvergence-Regular.ttf') format('truetype');
	font-weight: 400;
	font-display: swap;
}
// @font-face {
// 	font-family: 'Inter';
// 	src: url('/resources/fonts/Inter/static/Inter-Regular.ttf') format('truetype');
// 	font-weight: 400;
// 	font-display: swap;
// }
// @font-face {
// 	font-family: 'Inter';
// 	src: url('/resources/fonts/Inter/static/Inter-Medium.ttf') format('truetype');
// 	font-weight: 500;
// 	font-display: swap;
// }
// @font-face {
// 	font-family: 'Inter';
// 	src: url('/resources/fonts/Inter/static/Inter-Bold.ttf') format('truetype');
// 	font-weight: 700;
// 	font-display: swap;
// }
// @font-face {
// 	font-family: 'Montserrat';
// 	src: url('/resources/fonts/Montserrat/static/Montserrat-Regular.ttf') format('truetype');
// 	font-weight: 400;
// 	font-display: swap;
// }
// @font-face {
// 	font-family: 'Montserrat';
// 	src: url('/resources/fonts/Montserrat/static/Montserrat-SemiBold.ttf') format('truetype');
// 	font-weight: 600;
// 	font-display: swap;
// }