$fix: 40px;

$xxl-grid: 2500px;
$xl-grid:  2048px;
$lg-grid:  1720px;
$md-grid:  1290px;
$sm-grid:   840px;
$xs-grid:   440px;
$xxs-grid:  320px;

$xxl: $xxl-grid + $fix;
$xl:  $xl-grid  + $fix;
$lg:  $lg-grid  + $fix;
$md:  $md-grid  + $fix;
$sm:  $sm-grid  + $fix;
$xs:  $xs-grid  + $fix;
$xxs: $xxs-grid + $fix;

@mixin media-base($min, $max) {

	@media only screen
		and (min-width: $min)
		and (max-width: calc($max - .2px)) {

		@content;
	}
}

@mixin xxl {
	@media only screen and (min-width: $xxl) {
		@content;
	}
}

@mixin xl {
	@include media-base($xl, $xxl) {
		@content;
	}
}

@mixin lg {
	@include media-base($lg, $xl) {
		@content;
	}
}

@mixin md {
	@include media-base($md, $lg) {
		@content;
	}
}

@mixin sm {
	@include media-base($sm, $md) {
		@content;
	}
}

@mixin xs {
	@include media-base(0, $sm) {
		@content;
	}
}

@mixin xxs {
	@include media-base(0px, $xs) {
		@content;
	}
}

/**/

@mixin more-than-sm {
	@media only screen and (min-width: $md) {
		@content;
	}
}

@mixin sm-and-less {
	@media only screen and (max-width: calc($md - .2px)) {
		@content;
	}
}

.container {
	margin: 0 auto;
	// padding: 0 8px;

	@include xxl {
		outline: 2px dotted goldenrod;
		width: $lg-grid;
	}

	@include xl {
		outline: 2px dotted saddlebrown;
		width: $lg-grid;
	}

	@include lg {
		outline: 2px dotted grey;
		width: $lg-grid;
	}

	@include md {
		outline: 2px dotted coral;
		width: $md-grid;
	}

	@include sm {
		outline: 2px dotted steelblue;
		width: $sm-grid;
	}

	@include xs {
		outline: 2px dotted forestgreen;
		width: 100%;
		max-width: calc(100vw - 8vw);
	}

	// @include xxs {
	// 	outline: 2px dotted hotpink;
	// 	width: 100%;
	// 	max-width: $xxs-grid;
	// }
}

.fluid-container {
	--paddings: 50px;
	margin: auto;
	width: calc(100vw - var(--paddings));

	@include sm-and-less {
		--paddings: 20px;
	}
}

// @include md {
// }
// @include sm {
// }
// @include xs {
// }